body {
    overflow-x: hidden;
  }
  /* NavBar */
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  clip-path: circle(20px at calc(100% - 45px) 45px);
  transition: all 0.8s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: fixed;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background:#8a2be2;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 55px ;
  font-family: "Bree Serif", serif;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 50px;
  font-weight: 600;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.5s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color:#8a2be2;
}
input[type="checkbox"]{
  display: none;
}
@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}


.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.9;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
}

/* Contact section */
.contact-section .section-title {
  font-size: 50px;
  margin-bottom: 36px; }
  @media (max-width: 767px) {
    .contact-section .section-title {
      font-size: 42px; } }

.contact-social-links .nav-link {
  padding: 0 8px; }
  .contact-social-links .nav-link img {
    width: 20px;
    height: 20px; }

.contact-page-wrapper {
  min-height: calc(100vh - 188px);
  padding-top: 50px;
  padding-bottom: 100px; }
  @media (min-width: 768px) {
    .contact-page-wrapper {
      padding-top: 100px;
      padding-bottom: 100px;
      display: flex;
      align-items: center; } }

  .contact-social-links .bi-github, .bi-twitter, .bi-linkedin, .bi-instagram{
    color: #8a2be2;
    font-size: 30px;
  }
  .contact-social-links .bi-linkedin{
    color: #8a2be2;
    font-size: 30px;
  }
  .contact-social-links .bi-twitter{
    color: #8a2be2;
    font-size: 30px;
  }
  .contact-social-links .bi-instagram{
    color: #8a2be2;
    font-size: 30px;
  }

.contact-page-title {
  font-size: 55px;
  font-weight: 800;
  font-family: bree serif;
  line-height: 1;
  color: blueviolet;
  margin-bottom: 30px; }

.contact-page-street-address {
  margin-bottom: 28px; }

.contact-page-content-wrapper {
  display: flex;
  padding-bottom: 75px;
  border-bottom: 1px solid #d3d3d3; }
  @media (min-width: 768px) {
    .contact-page-content-wrapper {
      padding-bottom: 0;
      border-bottom: 0;
      border-right: 1px solid #d3d3d3; } }

.contact-page-form-wrapper {
  padding-top: 100px; }
  @media (min-width: 768px) {
    .contact-page-form-wrapper {
      padding-top: 0;
      padding-left: 98px; } }
  .contact-page-form-wrapper .form-group {
    margin-bottom: 42px; }
  .contact-page-form-wrapper .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d3d3d3;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 500; }
    .contact-page-form-wrapper .form-control:focus {
      outline: none;
      box-shadow: none; }
    .contact-page-form-wrapper .form-control::-webkit-input-placeholder {
      color: #d3d3d3; }
    .contact-page-form-wrapper .form-control::-moz-placeholder {
      color: #d3d3d3; }
    .contact-page-form-wrapper .form-control:-ms-input-placeholder {
      color: #d3d3d3; }
    .contact-page-form-wrapper .form-control::-ms-input-placeholder {
      color: #d3d3d3; }
    .contact-page-form-wrapper .form-control::placeholder {
      color: #d3d3d3; }
  .contact-page-form-wrapper .btn, .contact-page-form-wrapper .hiro-btn-outline, .contact-page-form-wrapper .go-top-btn {
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    padding: 0; }


/* Footer */
.footer-section-title{
  font-size: 40px;
  font-family: "Bree Serif", serif;

}
.footer-section{
  background-color: black;
}

  @media (max-width: 767px) {
    .footer-section-title {
      font-size: 40px; } }

.footer-social-links .nav-link {
  padding: 0 10px; 
}
  .footer-social-links .nav-link .bi{
    width: 20px;
    height: 20px;
   }
   .bi-twitter, .bi-linkedin, .bi-instagram, .bi-github{
    font-size: 20px;
    color: white;
   }


.footer-page-wrapper {
  min-height: calc(100vh - 188px);
  padding-top: 50px;
  padding-bottom: 100px; }
  @media (min-width: 768px) {
    .footer-page-wrapper {
      padding-top: 100px;
      padding-bottom: 100px;
      display: flex;
      align-items: center; } }

.footer-page-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  color: #44d7b6;
  margin-bottom: 30px; }

.footer-page-street-address {
  margin-bottom: 28px; }

.footer-page-footer-wrapper {
  display: flex;
  padding-bottom: 75px;
  border-bottom: 1px solid #d3d3d3; }
  @media (min-width: 768px) {
    .footer-page-content-wrapper {
      padding-bottom: 0;
      border-bottom: 0;
      border-right: 1px solid #d3d3d3; } }

.footer-page-form-wrapper {
  padding-top: 100px; }
  @media (min-width: 768px) {
    .footer-page-form-wrapper {
      padding-top: 0;
      padding-left: 98px; } }
  .footer-page-form-wrapper .form-group {
    margin-bottom: 42px; }
  .footer-page-form-wrapper .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d3d3d3;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 500; }
    .footer-page-form-wrapper .form-control:focus {
      outline: none;
      box-shadow: none; }
    .footer-page-form-wrapper .form-control::-webkit-input-placeholder {
      color: #d3d3d3; }
    .footer-page-form-wrapper .form-control::-moz-placeholder {
      color: #d3d3d3; }
    .footer-page-form-wrapper .form-control:-ms-input-placeholder {
      color: #d3d3d3; }
    .footer-page-form-wrapper .form-control::-ms-input-placeholder {
      color: #d3d3d3; }
    .footer-page-form-wrapper .form-control::placeholder {
      color: #d3d3d3; }
  .footer-page-form-wrapper .btn, .footer-page-form-wrapper .-btn-outline, .footer-page-form-wrapper .go-top-btn {
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    padding: 0; }
