body{
    overflow-x: hidden;
}

/* Header */
.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color:blueviolet;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.9;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
  }  

header{
    padding-top: 100px;
    padding-bottom: 150px;
}

header{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  header h1{
    font-family: 'Bree Serif', serif;
    font-size: 69px;

}
    header p{
        text-align: justify;
}
.btn{
    background-color: blueviolet;
    font-family: 'Bree Serif', serif;
    color: white;
}
.btn:hover{
   background-color: rgb(173, 87, 253);
   color: white;

}
/* Quote */
#quote{
border-radius: 90px 90px 90px 90px;
background: #e7e7e7;
padding: 30px;
}
#quote h3{
 text-align: center;
 font-family: 'Bree Serif', serif;
 font-weight: 500;
 font-size: 30px;
}

/* Projects */
#projects{
    background-image: url(../IMG/Backgrounds/stacked-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    width: 100%;
}


















/* Social media stick footer */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #ffffff;
    color: blueviolet;
  }

  .instagram {
    background: blueviolet;
    color: white;
    border-radius: 0px 20px 0px 0px;
  }
  
  .twitter {
    background:blueviolet;
    color: white;
  }
  
.github {
    background: blueviolet;
    color: white;
    border-radius: 0px 0px 20px 0px;
  }
  